In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from pydataset import data

In [2]:
url = "https://gist.githubusercontent.com/ryanorsinger/19bc7eccd6279661bd13307026628ace/raw/e4b5d6787015a4782f96cad6d1d62a8bdbac54c7/lemonade.csv"

df = pd.read_csv(url)

In [3]:
# peek at the head, what this data set looks like
df.head()

     Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/17     Sunday         27.0      2.00      15    0.5     10
1  1/2/17     Monday         28.9      1.33      15    0.5     13
2  1/3/17    Tuesday         34.5      1.33      27    0.5     15
3  1/4/17  Wednesday         44.1      1.05      28    0.5     17
4  1/5/17   Thursday         42.4      1.00      33    0.5     18

In [5]:
df.shape

(365, 7)

In [6]:
df.describe().T

             count       mean        std   min    25%    50%    75%    max
Temperature  365.0  61.224658  18.085892  15.1  49.70  61.10  71.70  212.0
Rainfall     365.0   0.825973   0.273890   0.4   0.65   0.74   0.91    2.5
Flyers       365.0  40.104110  13.786445 -38.0  31.00  39.00  49.00   80.0
Price        365.0   0.500000   0.000000   0.5   0.50   0.50   0.50    0.5
Sales        365.0  27.865753  30.948132   7.0  20.00  25.00  30.00  534.0